/*! purgecss start ignore */
@import "prism.css";
/*! purgecss end ignore */

@tailwind base;

@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply 2xl:max-w-[80rem];
  }

  .container-default {
    @apply container mx-auto px-6 lg:px-12;
  }

  .title {
    @apply text-4xl md:text-5xl font-semibold tracking-wide leading-tight;
  }

  .title-2 {
    @apply font-semibold text-2xl md:text-3xl leading-tight;
  }

  .title-3 {
    @apply font-semibold text-lg md:text-xl mb-4 leading-tight;
  }

  .title-4 {
    @apply font-semibold text-sm uppercase mb-2 tracking-wide leading-tight;
  }

  .title-5 {
    @apply font-semibold text-sm mb-1 tracking-widest leading-tight;
  }

  .subtitle {
    @apply text-xs font-semibold tracking-widest uppercase;
  }

  .link,
  .link-1 {
    @apply leading-relaxed relative opacity-60 hover:opacity-100 after:block after:absolute after:bottom-px after:left-0 after:w-full after:h-px after:bg-current after:transition-all after:duration-200 hover:after:w-0;
  }

  .link.router-link-exact-active,
  .link-1.router-link-exact-active {
    @apply after:w-0 opacity-100;
  }

  .link-2 {
    @apply font-semibold opacity-100 transition-opacity duration-200 hover:opacity-70;
  }

  .link-2.router-link-exact-active,
  .link-2.router-link-exact-active {
    @apply opacity-70;
  }

  .text-dripversity {
    @apply inline-block w-20 align-middle pb-0.5;
  }
}

@layer base {
  .dark {
    color-scheme: dark;
  }

  html {
    @apply dark;
  }

  body {
    @apply bg-slate-900 text-neutral-200;
  }

  section {
    @apply py-24 lg:py-32;
  }

  p {
    @apply text-justify text-neutral-300/70;
  }
}

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none !important;
    }
  }
}
